# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

desktop.ini


*.sublime-project
*.sublime-workspace


#####
# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
